.welcome_text,
.txt {
  text-align: center;
  color: white;
}

.txt {
  font-size: 20px;
  font-weight: 400;
}

.form {
  border: 1px solid rgba(248, 255, 255, 0.89);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 7px;
  background: rgb(206, 201, 201);
  background:
    linear-gradient(
      0deg,
      rgba(255, 245, 245, 0.011642156862745057) 0%,
      rgba(250, 250, 250, 0.25253851540616246) 97%
    );
  -webkit-box-shadow: 7px 6px 9px -7px rgba(248, 255, 255, 0.89);
  box-shadow: 7px 6px 9px -7px rgba(248, 255, 255, 0.89);
}

.label {
  color: white;
}

.label input {
  width: 94%;
  background: transparent;
  border: 1px solid grey;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  color: white;
}

.label input:focus {
  outline: none;
  color: white;
}

.div {
  margin-bottom: 10px;
}

.btn {
  text-align: center;
  margin-top: 15px;
}

.btn button {
  padding: 10px;
  border: 1px solid #ee0841;
  outline: none;
  cursor: pointer;
  background: #ee0841;
  color: white;
  border-radius: 10px;
  width: 100%;
  font-family: 'Trade Winds', cursive;
}

.shoes {
  width: 100%;
  padding: 8px;
  text-align: center;
  color: white;
  height: 400px;
  overflow-y: scroll;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shoes p {
  margin-top: -3px;
}

.img {
  width: 90%;
  height: 145px;
  margin: 0 auto;
}

.img img {
  width: 100%;
  padding-right: 90px;
}

.links a {
  color: white;
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.links a:hover {
  color: #ee0841;
}

.shoes::-webkit-scrollbar {
  display: none;
}
