@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body {
  background: rgb(229, 218, 218);
  font-family: 'Trade Winds', cursive;
}

.mobile {
  width: 300px;
  height: 600px;
  padding: 0;
  margin: 10px auto;
  position: relative;
}

.mobile > img {
  width: 100%;
  height: 100%;
}

.App {
  width: 265px;
  height: 570px;
  background-image: url('./assets/images/bg-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 5.9%;
  top: 2.5%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 30px;
}
