.mobile {
	background: url('./images/phone-bg.png');
	background-repeat: no-repeat;
	background-position-x: center;
	height: 600px;
	background-size: contain;
}

.App {
	width: 240px;
	background-image: url('./images/bg-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 41.2%;
	top: 10%;
	height: 480px;
	box-sizing: border-box;
	overflow: hidden;
}
